@import "common.css";
@import "public.css";
@import "iconfont.css";
/*anli-con-start*/
.index-content-right{
    width:100%;
    height:90%;
    overflow-y: scroll;
    position:absolute;
    top:90px;
}
::-webkit-scrollbar{
    width:0;
}
.content-right{
    height: 100%;
}
.project{
    width:100%;
    height:auto;
    overflow: hidden;
    padding:0 30px;
    font-size:16px;
}
.anli-con{
    height:auto;
    overflow: hidden;
}
.anli-header{
    width:48%;
    height:30px;
    float: left;
    line-height: 30px;
}
.anli-px{
    height:100%;
    float: left;
}
.anli-px p{
    width:80px;
    height:100%;
    float: left;
}
.anli-px span{
    width:18px;
    height:18px;
    float: left;
    display: block;
}
.anli-px span img{
    width:100%;
    display: block;
    margin-top:6px;
}
.active.anli-sjx{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.anli-header ul{
    float: left;
    height:30px;
    display: none;
}
.anli-header ul li{
    width:50px;
    float: left;
    margin-left:15px;
    height:100%;
    color: rgba(0,0,0,0.5);
}
.anli-header ul li.hot{
    color: rgba(0,0,0,1);
}
.anli-menu-con{
    width:50%;
    float: left;
}
.anli-menu{
    height:30px;
    text-align: justify;
}
.anli-menu>a{
    height:100%;
    display: block;
    float: left;
    margin-right:15px;
}
.anli-menu>a>img{
    height:100%;
    display: block;
}
/*
.anli-banner{
    width:100%;
    height:auto;
    overflow: hidden;
}
.anli-banner-con{
    display: none;
}
.anli-banner-con.active{
    display: block;
}
.anli-banner-nav{
    text-align: justify;
    width:600px;
    margin-top:25px;
}
.anli-banner-nav:after{
    content: "";
    display: inline-block;
    width:100%;
    line-height: 0;
}
.anli-banner-nav>a{
    display: inline-block;
    vertical-align: top;
}
.anli-banner-item>div{
    display: none;
    font-size:30px;
    margin-left:-15px;
}
.anli-banner-item>div.active{
    height:auto;
    overflow: hidden;
    display: block;
}
*/

/*展览设计-开始*/
.panel{
    width:100%;
    height:auto;
    display: none;
    overflow: hidden;
}
.panel.active{
    display: block;
}
.panel-item{
    height:auto;
    overflow: hidden;
    margin-top:30px;
}
.panel-header{
    width:100%;
    height:30px;
}
.panel-header-left{
    width:50%;
    height:100%;
    float: left;
    font-family: DINPRO-BOLD, sans-serif;
}
.panel-header-right{
    width:290px;
    height:100%;
    float: right;
}
.panel-header-right ul{
    width:340px;
    overflow-x: hidden;
}
.panel-header-right ul li{
    float: left;
    font-family: DINPRO-BOLD,"微软雅黑" ,sans-serif;
    margin-right:30px;
}
.panel-header-right ul li.panen-header-item{
    margin-right:55px;
}
.panel-con{
    height:auto;
    overflow: hidden;
}
.panel-con li{
    width:6.66%;
    height:50px;
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
    float: left;
}
.panel-con li a{
    display: block;
    width:100%;
    height:100%;
}
.panel-con li a img{
    width:100%;
    height:100%;
    display: block;
}
#tooltip{
    background: rgba(0,0,0,0.4);
    position:absolute;
    z-index:999;
    padding:3px;
    color:#fff;
    display:none;
}
/*展览设计-结束*/

@media (min-width: 992px) and (max-width: 1200px){

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width:767px){
    .index-content-right{
        height:10.5rem;
        top:0.9rem;
    }
    .anli-header{
        width:100%;
    }
    .anli-header p{
        width:1.2rem;
        font-size: 0.26rem;
    }
    .anli-menu{
        height:0.4rem;
    }
    .project{
        padding:0 0.2rem;
        font-size: 0.12rem;
    }
    .panel-item{
        margin-top:0.3rem;
    }
    .panel-header{
        height:0.45rem;
    }
    .panel-header-left{
        width:auto;
    }
    #panel-con li{
        width:20%;
    }
}